<section id="main" class="<%= todos.attr("length") > 0 ? "show" : "" %>">
	<input id="toggle-all" type="checkbox" <%= todos.allComplete() ? "checked" : "" %>>
	<label for="toggle-all">Mark all as complete</label>
	<ul id="todo-list">
		<% list(todos, function( todo ) { %>
			<li class="todo
				<%= todo.attr("complete") ? "completed" : "" %>
				<%= todo.attr("editing") ? "editing" : "" %>"
				<%= (el)-> can.data(el, 'todo', todo) %>>
				<div class="view">
					<input class="toggle" type="checkbox" <%= todo.attr("complete") ? "checked" : "" %>>
					<label><%= todo.attr("text") %></label>
					<button class="destroy"></button>
				</div>
				<input class="edit" type="text" value="<%= todo.attr("text") %>">
			</li>
		<% }) %>
	</ul>
</section>
<footer id="footer" class="<%= todos.attr("length") > 0 ? "show" : "" %>">
	<button id="clear-completed">Clear completed (<%= todos.completed() %>)</button>
	<div id="todo-count"><strong><%= todos.remaining() %></strong>
		item<%= todos.remaining() == 1 ? "" : "s" %> left</div>
</footer>
