<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title><%= application_name %></title>
	</head>
	<body>
	    <h1>Welcome to JavaScriptMVC 3.0!</h1>
        <ul>
			<li>Include plugins and files in <i><%= path %>/<%= application_name %>.js</i>.</li>
			<li>Change to production mode by changing <i>development</i> to <i>production</i> in this file.</li>
        </ul>
		<script type='text/javascript' 
	    src='<%= path_to_steal %>/steal/steal.js?<%= path %>,development'>	 
        </script>
	</body>
</html>