<h2><%=plural%></h2>
<table cellspacing='0px'>
	<thead>
	<tr>
		<%% for(var attr in <%= name%>.attributes){%>
			<%% if(attr == 'id') continue;%>
			<th><%%= attr%> </th>	 
		<%%}%>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		<%%= $.View('//<%= appPath %>/views/<%= underscore %>/list',{<%=plural%>: <%=plural%>})%>
	</tbody>
</table>
<h2>New <%= underscore %></h2>
<form>
	<%% for(var attr in <%= name%>.attributes){ %>
		<%% if(attr == 'id') continue;%>
		<div>
			<label><%%= attr %> </label><br />
			<input type="text" value="" name="<%%= attr %>"/>
		</div>
	<%%}%>
	<input type='submit' value='Create'/>
</form>