<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title><%= name %></title>
        <style type='text/css'>
            body {font-family: verdana}
            .error {border: solid 1px red;}
            .error_text { color: red; font-size: 10px;}
            td {padding: 3px;}
        </style>
	</head>
	<body>
	    <h1><%= name %> Demo</h1>
		<div id='<%= underscore %>'></div>
		<script type='text/javascript' 
                src='<%= path_to_steal %>/steal/steal.js?<%= path %>/<%= underscore %>'>
        </script>
		<script type='text/javascript'>
			$('#<%= underscore %>').<%= path %>_<%= underscore %>();
		</script>
	</body>
</html>