<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title><%=baseName %>.Create</title>
        <style type='text/css'>
            body {font-family: verdana}
        </style>
	</head>
	<body>
	    <h1><%=baseName %>.Create Demo</h1>
		<form id='create' action=''></form>
		<div id='<%= plural %>'></div>
		<script type='text/javascript' 
                src='../../../steal/steal.js'>
        </script>
		<script type='text/javascript'>
			steal('<%= appPath %>/<%= underscore %>/create','<%= appPath %>/fixtures',function(){
				
				$('#create').<%= appPath %>_<%= underscore %>_create();
				<%= name %>.bind('created', function(ev, <%=underscore%>){
					$('<div>').html("<h3>"+<%=underscore%>.name+"</h3><p>"+<%=underscore%>.description+"</p>")
					        .appendTo( $('#<%= plural %>') )
				})
				
			})
		</script>
	</body>
</html>