<section id="main" class="<%= todos.attr("length") > 0 ? "show" : "" %>">
	<input id="toggle-all" type="checkbox" <%= todos.allComplete() ? "checked" : "" %>>
	<label for="toggle-all">Mark all as complete</label>
	<ul id="todo-list">
		<% list(todos, function( todo ) { %>
			<li class="todo 
				<%= todo.attr("complete") ? "done" : "" %> 
				<%= todo.attr("editing") ? "editing" : "" %>" 
				<%= (el)-> el.data('todo', todo) %>>
				<div class="view">
					<input class="toggle" type="checkbox" <%= todo.attr("complete") ? "checked" : "" %>>
					<label><%= todo.attr("text") %></label>
					<span class="date <%= todo.isLate() ? "late" : "" %>"><%= todo.prettyDate() %></span>
					<a class="destroy icon-remove-sign"></a>
					<a class="due-date icon-time"></a>
					<a class="clear-date icon-ban-circle <%= todo.attr("dueDate") != null ? "show" : "" %>"></a>
				</div>
				<input class="edit" type="text" value="<%= todo.attr("text") %>">
			</li>
		<% }) %>
	</ul>
</section>
<footer id="stats" class="<%= todos.attr("length") > 0 ? "show" : "" %>">
	<a id="clear-completed">Clear <%= todos.completed() %> 
		completed item<%= todos.completed() == 1 ? "" : "s" %></a>
	<div id="todo-count"><span><%= todos.remaining() %></span> 
		item<%= todos.remaining() == 1 ? "" : "s" %> left</div>
</footer>