<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%= application_name %></title>
	</head>
	<body>
		<h1>Welcome to JavaScriptMVC 3.2!</h1>
		<ul>
			<li>Steal plugins and files in <i><%= path %>/<%= application_name %>.js</i>.</li>
			<li>Change to production mode by changing <i>steal.js</i> to <i>steal.production.js</i> in this file.</li>
		</ul>
		<hr>
		<b>Here are some links to get you started:</b>
		<ul>
			<li><a href="http://javascriptmvc.com/docs.html#!getstarted">Getting Started Guide</a></li>
			<li><a href="http://javascriptmvc.com/docs.html#!organizing">Organizing Your App</a></li>
			<li><a href="http://javascriptmvc.com/docs.html#!services">Ajax Service Guidelines</a></li>
			<li><a href="http://javascriptmvc.com/docs.html#!examples">Example Apps</a></li>
		</ul>
		<hr>
		<b>Join the community:</b>
		<ul>
			<li>Follow <a href="http://twitter.com/javascriptmvc">@javascriptmvc</a> on Twitter</li>
			<li>Join <a href="http://forum.javascriptmvc.com/">the forums</a></li>
		</ul>
		<script type='text/javascript' src='<%= path_to_steal %>/steal/steal.js?<%= path %>'></script>
	</body>
</html>